.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fbaccc;
}

h1 {
  margin: 25px;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4a47a3;
}

p {
  font-size: 2rem;
  color: #314e52;
  font-family: 'Orbitron', sans-serif;
}

button {
  margin-top: 4rem;
  font-family: 'Reggae One', cursive;
  font-size: 2rem;
  border-radius: 5%;
  background-color: #16c79a;
  color: white;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Orbitron', sans-serif;

}
